[submodule "Tivaware_Dep"]
	path = Tivaware_Dep
	url = https://github.com/khoitd1997/Tivaware_Dep.git
[submodule "extra_sensor/ds3231_tivaC"]
	path = extra_sensor/ds3231_tivaC
	url = https://github.com/khoitd1997/ds3231_tivaC.git
[submodule "Tiva_Extra"]
	path = Tiva_Extra
	url = https://github.com/khoitd1997/Tiva_Extra.git
[submodule "extra_sensor/htu21d_tivaC"]
	path = extra_sensor/htu21d_tivaC
	url = https://github.com/khoitd1997/htu21d_tivaC.git
[submodule "display/tiva_SSD1306_Driver"]
	path = display/tiva_SSD1306_Driver
	url = https://github.com/khoitd1997/tiva_SSD1306_Driver.git
